.containerText {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    margin-top: -32em;
    z-index: 1;
    position: absolute;
    @media (max-width: 991px) {
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        width: 312px;
        height: 155px;
        margin-top: -25em;
    }
}

.titleLiteflix {
    width: 200px;
    height: 20px;
    font-family: Bebas Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4px;
    text-align: left;
    color: #ffffff;
    width: 100%;
    @media (max-width: 991px) {
        line-height: 20px;
        margin-left: 2em;
    }
}

.containerFilmTitle {
    width: 892px;
    height: 100px;
    @media (max-width: 991px) {
        height: 155px;
        width: 312px;
    }
}

.filmTitle {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 100px;
    letter-spacing: 16px;
    text-transform: uppercase;
    color: #64eebc;
    margin-top: 24px;
    margin-bottom: 10px;
    position: relative;
    @media (max-width: 991px) {
        font-size: 24px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 10px;
        position: absolute;
        width: 312px;
        font-weight: bold;
        margin-left: 1em;
    }
}