.containerPopularFilm {
    height: 146px;
    width: 262.97px;
    left: -21.44px;
    top: 166.14px;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: absolute;
    // z-index: 1;
}

.containerImages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2em;
    @media (max-width: 991px) {
        // z-index: -1;
        align-items: center;
        margin-top: 5em;
        margin-right: 0;
        // position: absolute;
    }
}

.imgPopularFilm {
    width: 220px;
    border-radius: 4px;
    position: relative;
    z-index: -1;
}

.iconPopularFilm {
    position: absolute;
    z-index: 1;
}